<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>All Blogs | <%= title %></title>
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/create">Create</a> |
    <a href="/about">About</a>
  </nav>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>

        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>

      <% }) %>
    <% } else { %>
      <h3>There are no blogs to display.</h3>
    <% } %>
    

  </div>

  <footer>
    <p>Copyright &copy; 2025</p>
  </footer>
</body>
</html>
